<%- include('./index-user.ejs', { user }) %>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
<% if (published) { %> 
<div class="alerts">
	<div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
	  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
	  <div>
		La publication est effectuée
	  </div>
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>
<% } %>
<% if (typeof(locals) !==
"undefined" && locals.length === 0) { %>
<div
	class="alert alert-primary alert-dismissible fade show col-md-4 m-4"
	role="alert"
>
	Créez vos locaux pour publier
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>
<% } %>
<div class="locals">
	<div
		class="add-new-local center"
		data-bs-toggle="modal"
		data-bs-target="#newLocalForm"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="100"
			height="100"
			viewBox="0 0 24 24"
			class="icons"
		>
			<path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z" />
		</svg>
	</div>
	<% if (typeof(locals) !== "undefined") { %> <% for(var local of locals) { %>
	<div
		class="local"
		data-id="<%= local.id %>"
		data-address="<%= local.address %>"
		data-cost="<%= local.cost %>"
		data-size="<%= local.size %>"
		data-furniture="<%= local.furnitureIncluded %>"
		data-bills="<%= local.billsIncluded %>"
		data-wifi="<%= local.wifiIncluded %>"
		data-gas="<%= local.gasIncluded %>"
		data-localtype="<%= local.localType %>"
		data-district="<%= local.districtId %>"
		<% let localImages = ""
		for (let image of images) {
			if (image.localId === local.id) {
				localImages += `${image.id}#${image.imageUrl}@`
		}} %>
		data-images = "<%= localImages %>"
		data-bs-toggle="modal"
		data-bs-target="#editLocalForm"
		>
		<% var exists = false; for(image of images) { if (images.length !== 0 &&
		image.localId === local.id) { %>
		<img src="<%= image.imageUrl %>" class="img-responsive" />
		<% exists = true; break; } } %> <% if(exists) { %>
		<div class="mask">
			<% } else { %>
			<div class="mask-no">
				<% } %>
				<div class="title center">Local</div>
				<div class="details">
					<div class="address center">
						<% if (local.localType === "room") { %> <%-
						include('./icons/room.ejs') %> <% } else if (local.localType ===
						"apartment") { %> <%- include('./icons/apartment.ejs') %> <% } else
						if (local.localType === "villa") { %> <%-
						include('./icons/villa.ejs') %> <% } else if (local.localType ===
						"studio") { %> <%- include('./icons/studio.ejs') %> <% } else if
						(local.localType === "dormitory") { %> <%-
						include('./icons/dormitory.ejs') %> <% } %>
						<div class="content">
							<div class="text"><strong><%= local.address %></strong></div>
							<div class="district"><%= local.districtName %></div>
						</div>
					</div>
					<div class="size-cost center">
						<div class="size center">
							<strong>Effectif</strong
							><span class="center"><%= local.size %></span>
						</div>
						<div class="cost center">
							<strong>Coût</strong>
							<div class="price center"><%= local.cost %><sub>DH</sub></div>
						</div>
					</div>
					<div class="services center">
						<% if (local.billsIncluded === 1) { %> <%-
						include('./icons/bills.ejs') %> <% } %> <% if
						(local.furnitureIncluded === 1) { %> <%-
						include('./icons/furniture.ejs') %> <% } %> <% if
						(local.wifiIncluded === 1) { %> <%- include('./icons/wifi.ejs') %>
						<% } %> <% if (local.gasIncluded === 1) { %> <%-
						include('./icons/gas.ejs') %> <% } %>
					</div>
				</div>
				<button
					type="button"
					class="btn btn-primary publish"
					data-id="<%= local.id %>"
					data-bs-toggle="modal"
					data-bs-target="#publishForm"
				>
					Publier
				</button>
				<button
					type="button"
					class="btn btn-secondary delete center"
					data-id="<%= local.id %>"
					data-bs-toggle="modal"
					data-bs-target="#deletelocal"
				>
					<%- include('./icons/delete.ejs') %>
				</button>
			</div>
		</div>
		<% } %> <% } %>
	</div>

	<%- include('./delete-local.ejs') %> <%- include('./new-local.ejs') %> <%-
	include('./edit-local.ejs') %> <%-
	include('./publish.ejs') %>
</div>
